/.gitignore
/sandbox.py
/.idea/.gitignore
/.idea/Construction-of-a-Guideline-Conform-Neck-Node-Level-from-Anatomical-Structures.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml